@media (min-width: $responsive-hd) {

	nav {
		padding: 15px 0;

		a {
			font-size: 24px;
		}

		.main-menu {
			padding-left: 34px;

			&>li {

				&:not(:last-child) {
					margin-right: 60px;
				}
			}
		}

		.user-menu {

			&>li {

				&:not(:last-child) {
					margin-right: 50px;
				}
			}
		}
	}

	.switch-language {

		a {
			padding: 13px 27px;
		}
	}

	section.main {

		.disclaimer {
			max-width: 560px;

			.content {

				div {
					font-size: 54px;
				}
			}
		}
	}

	section.main .disclaimer .content p {
		font-size: 30px;
		margin: 15px 0 25px 0;
	}

	section.main .disclaimer a {
		height: 36px;
		background: url("assets/images/icons-big.png") no-repeat 40px -948px;
	}

	section.main .disclaimer a:before, section.main .disclaimer a:after {
		width: 29px;
		height: 36px;
		background: url("assets/images/icons-big.png") no-repeat 0px -948px;
	}

	section.main .disclaimer a:before {
		margin-right: 25px;
	}

	section.main .disclaimer a:after {
		margin-left: 25px;
	}

	section.main h1 {
		padding-bottom: 90px;
		font-size: 45px;
	}

	section.customers .container {
		padding-top: 185px;
	}

	section.customers h2 {
		margin-bottom: 70px;
	}

	section.customers .customer-list {
		max-width: 885px;
		margin: 0 auto 120px;
	}

	section.advantages .container {
		padding-top: 205px;
	}

	section.advantages h5 {
		margin-bottom: 80px;
	}

	section.advantages .li-icon {
		margin: 0 auto 20px;
	}

	section.last .container {
		padding-top: 190px;
	}

	section.last h6, section.last h3 {
		margin: 0 auto 35px;
	}

	section.last .leave-order {
		margin: 0 auto 120px;
	}

	section.last .container {
		max-height: calc(100vh - 84px);
	}

	.copyright {
		font-size: 19.87px;
		padding: 30px 10px;
	}

	section.other-services .service-title {
		padding: 40px 10px;
		font-size: 27px;
	}

	section.other-services .service-title span {
		margin-top: 8px;
		font-size: 21px;
	}

	section.other-services .service-price i {
		font-size: 24.33px;
	}

	section.other-services .service-price b {
		margin: 0 8px;
		font-size: 46px;
	}

	section.other-services .more {
		padding: 45px 0 50px 0;
	}

	section.other-services .more a {
		width: 225px;
		height: 55px;
		line-height: 55px;
		font-size: 19.93px;
	}

	section.solutions .section-container {
		padding: 155px 0 100px 0;
	}

	section.tarifs .container {
		max-width: 1440px;
	}

	section.tarifs .tarif {
		width: 457px;
	}

	section.other-services .service-price b {
		font-size: 82.5px;
	}

	section.other-services .service-price {
		padding: 65px 25px 50px;
	}

	.to-top {
		width: 67px;
		height: 67px;
		right: -80px;
	}

	.to-top:after {
		background: url('assets/images/icons-big.png') no-repeat 0px -1338px;
		width: 23px;
		bottom: 196px;
		height: 15px;
	}
}