<!DOCTYPE html>
html(lang="ru")
	head
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
		meta(charset="UTF-8")
		link(rel="stylesheet", href="https://necolas.github.io/normalize.css/3.0.2/normalize.css")
		link(rel="stylesheet", href="assets/css/slick.css")
		link(rel="stylesheet", href="style.css")		
		title Контакты | YesSMS
	body
		header
			.container
				.main-line
					.logo
						a(href="#")
							img(src="assets/images/logo.png", alt="")
					.mobile-toggle
						img(src="assets/images/burger.png", alt="")
				nav
					ul.main-menu
						li
							a(href="#") Главная
						li
							a(href="#") Как это работает
						li
							a(href="#") Тарифы
						li
							a(href="#") Решения
						li
							a(href="#") Контакты
					ul.user-menu
						li
							a(href="#") Вход / Регистрация
						li.switch-language
							a(href="#") Укр
							ul
								li
									a(href="#") EN
								li
									a(href="#") EN
								li
									a(href="#") EN
		section.callback-form
			.container
				h1 Готовые решения
				form(action="#")
					.form-field
						input(type="text" placeholder="Имя" required)
						input(type="email" placeholder="Эл. адрес" required)
						input(type="text" placeholder="Телефон" required)
						input(type="text" placeholder="Тема" required)
					.form-field
						textarea#message(name="message" placeholder="Сообщение")
					.form-field
						input(type="submit" value="Отправить сообщение")
		section.qa
			.container
				ul.tabs-panel
					li.ui-state-active
						a(href="#all-questions") Все вопросы
					li
						a(href="#finance") Финансы
					li
						a(href="#setup") Подключение
					li
						a(href="#terms") Правовые вопросы
				.tab#all-questions
					.item
						.q Как работает сервис ДАСМС?
						.a.
							 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid quo facere, molestias ab necessitatibus exercitationem, harum animi sint, adipisci quaerat consectetur aspernatur voluptatem, magnam enim. Corporis voluptatem minima labore dolor dolores aut, beatae, assumenda suscipit voluptate, sequi itaque, voluptates quae qui. Necessitatibus nostrum dolores voluptates unde rem eaque ut earum.
					.item
						.q Как получить больше отзывов от клиентов?
						.a.
							 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid quo facere, molestias ab necessitatibus exercitationem, harum animi sint, adipisci quaerat consectetur aspernatur voluptatem, magnam enim. Corporis voluptatem minima labore dolor dolores aut, beatae, assumenda suscipit voluptate, sequi itaque, voluptates quae qui. Necessitatibus nostrum dolores voluptates unde rem eaque ut earum.
					.item
						.q Как оформляются наши договорные отношения?
						.a.
							 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid quo facere, molestias ab necessitatibus exercitationem, harum animi sint, adipisci quaerat consectetur aspernatur voluptatem, magnam enim. Corporis voluptatem minima labore dolor dolores aut, beatae, assumenda suscipit voluptate, sequi itaque, voluptates quae qui. Necessitatibus nostrum dolores voluptates unde rem eaque ut earum.
					.item
						.q Нужен ли мне отдельный телефон или компьютер?
						.a.
							 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid quo facere, molestias ab necessitatibus exercitationem, harum animi sint, adipisci quaerat consectetur aspernatur voluptatem, magnam enim. Corporis voluptatem minima labore dolor dolores aut, beatae, assumenda suscipit voluptate, sequi itaque, voluptates quae qui. Necessitatibus nostrum dolores voluptates unde rem eaque ut earum.
					.item
						.q Нужно ли быть «продвинутым» пользователем технологий?
						.a.
							 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid quo facere, molestias ab necessitatibus exercitationem, harum animi sint, adipisci quaerat consectetur aspernatur voluptatem, magnam enim. Corporis voluptatem minima labore dolor dolores aut, beatae, assumenda suscipit voluptate, sequi itaque, voluptates quae qui. Necessitatibus nostrum dolores voluptates unde rem eaque ut earum.
					.item
						.q Обязательно ли мне самому отвечать на все сообщения?
						.a.
							 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid quo facere, molestias ab necessitatibus exercitationem, harum animi sint, adipisci quaerat consectetur aspernatur voluptatem, magnam enim. Corporis voluptatem minima labore dolor dolores aut, beatae, assumenda suscipit voluptate, sequi itaque, voluptates quae qui. Necessitatibus nostrum dolores voluptates unde rem eaque ut earum.
					.item
						.q Нужно ли скачивать и устанавливать какое-то программное обеспечение?
						.a.
							 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid quo facere, molestias ab necessitatibus exercitationem, harum animi sint, adipisci quaerat consectetur aspernatur voluptatem, magnam enim. Corporis voluptatem minima labore dolor dolores aut, beatae, assumenda suscipit voluptate, sequi itaque, voluptates quae qui. Necessitatibus nostrum dolores voluptates unde rem eaque ut earum.
					.item
						.q Как грамотно вписать сервис в атмосферу заведения?
						.a.
							 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid quo facere, molestias ab necessitatibus exercitationem, harum animi sint, adipisci quaerat consectetur aspernatur voluptatem, magnam enim. Corporis voluptatem minima labore dolor dolores aut, beatae, assumenda suscipit voluptate, sequi itaque, voluptates quae qui. Necessitatibus nostrum dolores voluptates unde rem eaque ut earum.
					.item
						.q Будет ли эта услуга работать где-то еще, кроме кафе?
						.a.
							 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid quo facere, molestias ab necessitatibus exercitationem, harum animi sint, adipisci quaerat consectetur aspernatur voluptatem, magnam enim. Corporis voluptatem minima labore dolor dolores aut, beatae, assumenda suscipit voluptate, sequi itaque, voluptates quae qui. Necessitatibus nostrum dolores voluptates unde rem eaque ut earum.
					.item
						.q Сколько клиенты платят за отправку сообщений?
						.a.
							 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid quo facere, molestias ab necessitatibus exercitationem, harum animi sint, adipisci quaerat consectetur aspernatur voluptatem, magnam enim. Corporis voluptatem minima labore dolor dolores aut, beatae, assumenda suscipit voluptate, sequi itaque, voluptates quae qui. Necessitatibus nostrum dolores voluptates unde rem eaque ut earum.
					.item
						.q Можно ли подключить несколько заведений?
						.a.
							 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid quo facere, molestias ab necessitatibus exercitationem, harum animi sint, adipisci quaerat consectetur aspernatur voluptatem, magnam enim. Corporis voluptatem minima labore dolor dolores aut, beatae, assumenda suscipit voluptate, sequi itaque, voluptates quae qui. Necessitatibus nostrum dolores voluptates unde rem eaque ut earum.
					.item
						.q Можно ли заблокировать некорректных отправителей?
						.a.
							 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid quo facere, molestias ab necessitatibus exercitationem, harum animi sint, adipisci quaerat consectetur aspernatur voluptatem, magnam enim. Corporis voluptatem minima labore dolor dolores aut, beatae, assumenda suscipit voluptate, sequi itaque, voluptates quae qui. Necessitatibus nostrum dolores voluptates unde rem eaque ut earum.
					.item
						.q Насколько конфиденциальны и защищены смс-сообщения?
						.a.
							 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid quo facere, molestias ab necessitatibus exercitationem, harum animi sint, adipisci quaerat consectetur aspernatur voluptatem, magnam enim. Corporis voluptatem minima labore dolor dolores aut, beatae, assumenda suscipit voluptate, sequi itaque, voluptates quae qui. Necessitatibus nostrum dolores voluptates unde rem eaque ut earum.
					.item
						.q Сколько стоит обслуживание?
						.a.
							 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid quo facere, molestias ab necessitatibus exercitationem, harum animi sint, adipisci quaerat consectetur aspernatur voluptatem, magnam enim. Corporis voluptatem minima labore dolor dolores aut, beatae, assumenda suscipit voluptate, sequi itaque, voluptates quae qui. Necessitatibus nostrum dolores voluptates unde rem eaque ut earum.
				.tab#finance
					.item
						.q Как работает сервис ДАСМС?
						.a.
							 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid quo facere, molestias ab necessitatibus exercitationem, harum animi sint, adipisci quaerat consectetur aspernatur voluptatem, magnam enim. Corporis voluptatem minima labore dolor dolores aut, beatae, assumenda suscipit voluptate, sequi itaque, voluptates quae qui. Necessitatibus nostrum dolores voluptates unde rem eaque ut earum.
					.item
						.q Как получить больше отзывов от клиентов?
						.a.
							 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid quo facere, molestias ab necessitatibus exercitationem, harum animi sint, adipisci quaerat consectetur aspernatur voluptatem, magnam enim. Corporis voluptatem minima labore dolor dolores aut, beatae, assumenda suscipit voluptate, sequi itaque, voluptates quae qui. Necessitatibus nostrum dolores voluptates unde rem eaque ut earum.
					.item
						.q Как оформляются наши договорные отношения?
						.a.
							 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid quo facere, molestias ab necessitatibus exercitationem, harum animi sint, adipisci quaerat consectetur aspernatur voluptatem, magnam enim. Corporis voluptatem minima labore dolor dolores aut, beatae, assumenda suscipit voluptate, sequi itaque, voluptates quae qui. Necessitatibus nostrum dolores voluptates unde rem eaque ut earum.
					.item
						.q Нужен ли мне отдельный телефон или компьютер?
						.a.
							 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid quo facere, molestias ab necessitatibus exercitationem, harum animi sint, adipisci quaerat consectetur aspernatur voluptatem, magnam enim. Corporis voluptatem minima labore dolor dolores aut, beatae, assumenda suscipit voluptate, sequi itaque, voluptates quae qui. Necessitatibus nostrum dolores voluptates unde rem eaque ut earum.
					.item
						.q Нужно ли быть «продвинутым» пользователем технологий?
						.a.
							 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid quo facere, molestias ab necessitatibus exercitationem, harum animi sint, adipisci quaerat consectetur aspernatur voluptatem, magnam enim. Corporis voluptatem minima labore dolor dolores aut, beatae, assumenda suscipit voluptate, sequi itaque, voluptates quae qui. Necessitatibus nostrum dolores voluptates unde rem eaque ut earum.
					.item
						.q Обязательно ли мне самому отвечать на все сообщения?
						.a.
							 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid quo facere, molestias ab necessitatibus exercitationem, harum animi sint, adipisci quaerat consectetur aspernatur voluptatem, magnam enim. Corporis voluptatem minima labore dolor dolores aut, beatae, assumenda suscipit voluptate, sequi itaque, voluptates quae qui. Necessitatibus nostrum dolores voluptates unde rem eaque ut earum.
					.item
						.q Нужно ли скачивать и устанавливать какое-то программное обеспечение?
						.a.
							 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid quo facere, molestias ab necessitatibus exercitationem, harum animi sint, adipisci quaerat consectetur aspernatur voluptatem, magnam enim. Corporis voluptatem minima labore dolor dolores aut, beatae, assumenda suscipit voluptate, sequi itaque, voluptates quae qui. Necessitatibus nostrum dolores voluptates unde rem eaque ut earum.
					.item
						.q Как грамотно вписать сервис в атмосферу заведения?
						.a.
							 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid quo facere, molestias ab necessitatibus exercitationem, harum animi sint, adipisci quaerat consectetur aspernatur voluptatem, magnam enim. Corporis voluptatem minima labore dolor dolores aut, beatae, assumenda suscipit voluptate, sequi itaque, voluptates quae qui. Necessitatibus nostrum dolores voluptates unde rem eaque ut earum
				.tab#setup
					.item
						.q Как работает сервис ДАСМС?
						.a.
							 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid quo facere, molestias ab necessitatibus exercitationem, harum animi sint, adipisci quaerat consectetur aspernatur voluptatem, magnam enim. Corporis voluptatem minima labore dolor dolores aut, beatae, assumenda suscipit voluptate, sequi itaque, voluptates quae qui. Necessitatibus nostrum dolores voluptates unde rem eaque ut earum.
					.item
						.q Как получить больше отзывов от клиентов?
						.a.
							 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid quo facere, molestias ab necessitatibus exercitationem, harum animi sint, adipisci quaerat consectetur aspernatur voluptatem, magnam enim. Corporis voluptatem minima labore dolor dolores aut, beatae, assumenda suscipit voluptate, sequi itaque, voluptates quae qui. Necessitatibus nostrum dolores voluptates unde rem eaque ut earum.
					.item
						.q Как оформляются наши договорные отношения?
						.a.
							 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid quo facere, molestias ab necessitatibus exercitationem, harum animi sint, adipisci quaerat consectetur aspernatur voluptatem, magnam enim. Corporis voluptatem minima labore dolor dolores aut, beatae, assumenda suscipit voluptate, sequi itaque, voluptates quae qui. Necessitatibus nostrum dolores voluptates unde rem eaque ut earum.
					.item
						.q Нужен ли мне отдельный телефон или компьютер?
						.a.
							 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid quo facere, molestias ab necessitatibus exercitationem, harum animi sint, adipisci quaerat consectetur aspernatur voluptatem, magnam enim. Corporis voluptatem minima labore dolor dolores aut, beatae, assumenda suscipit voluptate, sequi itaque, voluptates quae qui. Necessitatibus nostrum dolores voluptates unde rem eaque ut earum.
					.item
						.q Нужно ли быть «продвинутым» пользователем технологий?
						.a.
							 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid quo facere, molestias ab necessitatibus exercitationem, harum animi sint, adipisci quaerat consectetur aspernatur voluptatem, magnam enim. Corporis voluptatem minima labore dolor dolores aut, beatae, assumenda suscipit voluptate, sequi itaque, voluptates quae qui. Necessitatibus nostrum dolores voluptates unde rem eaque ut earum.
					.item
						.q Обязательно ли мне самому отвечать на все сообщения?
						.a.
							 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid quo facere, molestias ab necessitatibus exercitationem, harum animi sint, adipisci quaerat consectetur aspernatur voluptatem, magnam enim. Corporis voluptatem minima labore dolor dolores aut, beatae, assumenda suscipit voluptate, sequi itaque, voluptates quae qui. Necessitatibus nostrum dolores voluptates unde rem eaque ut earum.
					.item
						.q Нужно ли скачивать и устанавливать какое-то программное обеспечение?
						.a.
							 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid quo facere, molestias ab necessitatibus exercitationem, harum animi sint, adipisci quaerat consectetur aspernatur voluptatem, magnam enim. Corporis voluptatem minima labore dolor dolores aut, beatae, assumenda suscipit voluptate, sequi itaque, voluptates quae qui. Necessitatibus nostrum dolores voluptates unde rem eaque ut earum.
					.item
						.q Как грамотно вписать сервис в атмосферу заведения?
						.a.
							 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid quo facere, molestias ab necessitatibus exercitationem, harum animi sint, adipisci quaerat consectetur aspernatur voluptatem, magnam enim. Corporis voluptatem minima labore dolor dolores aut, beatae, assumenda suscipit voluptate, sequi itaque, voluptates quae qui. Necessitatibus nostrum dolores voluptates unde rem eaque ut earum.
					.item
						.q Будет ли эта услуга работать где-то еще, кроме кафе?
						.a.
							 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid quo facere, molestias ab necessitatibus exercitationem, harum animi sint, adipisci quaerat consectetur aspernatur voluptatem, magnam enim. Corporis voluptatem minima labore dolor dolores aut, beatae, assumenda suscipit voluptate, sequi itaque, voluptates quae qui. Necessitatibus nostrum dolores voluptates unde rem eaque ut earum.
					.item
						.q Сколько клиенты платят за отправку сообщений?
						.a.
							 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid quo facere, molestias ab necessitatibus exercitationem, harum animi sint, adipisci quaerat consectetur aspernatur voluptatem, magnam enim. Corporis voluptatem minima labore dolor dolores aut, beatae, assumenda suscipit voluptate, sequi itaque, voluptates quae qui. Necessitatibus nostrum dolores voluptates unde rem eaque ut earum.
					.item
						.q Можно ли подключить несколько заведений?
						.a.
							 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid quo facere, molestias ab necessitatibus exercitationem, harum animi sint, adipisci quaerat consectetur aspernatur voluptatem, magnam enim. Corporis voluptatem minima labore dolor dolores aut, beatae, assumenda suscipit voluptate, sequi itaque, voluptates quae qui. Necessitatibus nostrum dolores voluptates unde rem eaque ut earum.
				.tab#terms
					.item
						.q Нужно ли быть «продвинутым» пользователем технологий?
						.a.
							 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid quo facere, molestias ab necessitatibus exercitationem, harum animi sint, adipisci quaerat consectetur aspernatur voluptatem, magnam enim. Corporis voluptatem minima labore dolor dolores aut, beatae, assumenda suscipit voluptate, sequi itaque, voluptates quae qui. Necessitatibus nostrum dolores voluptates unde rem eaque ut earum.
					.item
						.q Обязательно ли мне самому отвечать на все сообщения?
						.a.
							 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid quo facere, molestias ab necessitatibus exercitationem, harum animi sint, adipisci quaerat consectetur aspernatur voluptatem, magnam enim. Corporis voluptatem minima labore dolor dolores aut, beatae, assumenda suscipit voluptate, sequi itaque, voluptates quae qui. Necessitatibus nostrum dolores voluptates unde rem eaque ut earum.
					.item
						.q Нужно ли скачивать и устанавливать какое-то программное обеспечение?
						.a.
							 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid quo facere, molestias ab necessitatibus exercitationem, harum animi sint, adipisci quaerat consectetur aspernatur voluptatem, magnam enim. Corporis voluptatem minima labore dolor dolores aut, beatae, assumenda suscipit voluptate, sequi itaque, voluptates quae qui. Necessitatibus nostrum dolores voluptates unde rem eaque ut earum.
					.item
						.q Как грамотно вписать сервис в атмосферу заведения?
						.a.
							 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid quo facere, molestias ab necessitatibus exercitationem, harum animi sint, adipisci quaerat consectetur aspernatur voluptatem, magnam enim. Corporis voluptatem minima labore dolor dolores aut, beatae, assumenda suscipit voluptate, sequi itaque, voluptates quae qui. Necessitatibus nostrum dolores voluptates unde rem eaque ut earum.
					.item
						.q Будет ли эта услуга работать где-то еще, кроме кафе?
						.a.
							 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid quo facere, molestias ab necessitatibus exercitationem, harum animi sint, adipisci quaerat consectetur aspernatur voluptatem, magnam enim. Corporis voluptatem minima labore dolor dolores aut, beatae, assumenda suscipit voluptate, sequi itaque, voluptates quae qui. Necessitatibus nostrum dolores voluptates unde rem eaque ut earum.
					.item
						.q Сколько клиенты платят за отправку сообщений?
						.a.
							 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid quo facere, molestias ab necessitatibus exercitationem, harum animi sint, adipisci quaerat consectetur aspernatur voluptatem, magnam enim. Corporis voluptatem minima labore dolor dolores aut, beatae, assumenda suscipit voluptate, sequi itaque, voluptates quae qui. Necessitatibus nostrum dolores voluptates unde rem eaque ut earum.
					.item
						.q Можно ли подключить несколько заведений?
						.a.
							 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid quo facere, molestias ab necessitatibus exercitationem, harum animi sint, adipisci quaerat consectetur aspernatur voluptatem, magnam enim. Corporis voluptatem minima labore dolor dolores aut, beatae, assumenda suscipit voluptate, sequi itaque, voluptates quae qui. Necessitatibus nostrum dolores voluptates unde rem eaque ut earum.
					.item
						.q Можно ли заблокировать некорректных отправителей?
						.a.
							 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid quo facere, molestias ab necessitatibus exercitationem, harum animi sint, adipisci quaerat consectetur aspernatur voluptatem, magnam enim. Corporis voluptatem minima labore dolor dolores aut, beatae, assumenda suscipit voluptate, sequi itaque, voluptates quae qui. Necessitatibus nostrum dolores voluptates unde rem eaque ut earum.
					.item
						.q Насколько конфиденциальны и защищены смс-сообщения?
						.a.
							 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid quo facere, molestias ab necessitatibus exercitationem, harum animi sint, adipisci quaerat consectetur aspernatur voluptatem, magnam enim. Corporis voluptatem minima labore dolor dolores aut, beatae, assumenda suscipit voluptate, sequi itaque, voluptates quae qui. Necessitatibus nostrum dolores voluptates unde rem eaque ut earum.
					.item
						.q Сколько стоит обслуживание?
						.a.
							 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid quo facere, molestias ab necessitatibus exercitationem, harum animi sint, adipisci quaerat consectetur aspernatur voluptatem, magnam enim. Corporis voluptatem minima labore dolor dolores aut, beatae, assumenda suscipit voluptate, sequi itaque, voluptates quae qui. Necessitatibus nostrum dolores voluptates unde rem eaque ut earum.
		footer
			.container
				span Подписаться
				p.
					Подпишитесь на нашу рассылку и будьте в курсе самых свежих новостей о нашей компании:
				form(action="#")
					input(type="email" placeholder="Адрес электронной почты" required)
					input(type="submit" value="Подписаться")
				ul
					li
						a(href="#" title="Facebook")
					li
						a(href="#" title="VK") 
					li
						a(href="#" title="Instagram")
					li
						a(href="#" title="Twitter")
			.copyright.
				Политика конфиденциальности  Copyrights © 2015-2017  Все права защищены Saganenko.ru
		script(src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous")
		script(src="assets/js/jquery.scrollify.min.js")
		script(src="assets/js/slick.min.js")
		script(src="assets/js/jquery-ui.min.js")
		script(src="assets/js/main.js")