<!DOCTYPE html>
html(lang="ru")
	head
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
		meta(charset="UTF-8")
		link(rel="stylesheet", href="https://necolas.github.io/normalize.css/3.0.2/normalize.css")
		link(rel="stylesheet", href="assets/css/slick.css")
		link(rel="stylesheet", href="style.css")
		title Как работает | YesSMS
	body
		header
			.container
				.main-line
					.logo
						a(href="#")
							img(src="assets/images/logo.png", alt="")
					.mobile-toggle
						img(src="assets/images/burger.png", alt="")
				nav
					ul.main-menu
						li
							a(href="#") Главная
						li
							a(href="#") Как это работает
						li
							a(href="#") Тарифы
						li
							a(href="#") Решения
						li
							a(href="#") Контакты
					ul.user-menu
						li
							a(href="#") Вход / Регистрация
						li.switch-language
							a(href="#") Укр
							ul
								li
									a(href="#") EN
								li
									a(href="#") EN
								li
									a(href="#") EN
		section.how
			.container
				h1 Как работает YesSMS
				.section-container
					.response
						.response-video
							iframe(width="437" height="245" src="https://www.youtube.com/embed/NwAAiW10rJ0" frameborder="0" allowfullscreen)
						.response-data
							.response-text.
								Желание оставить отзыв – чаще всего импульсивное действие и если у клиента нет возможности сделать это здесь и сейчас, то желание вскоре пропадает. Далеко не все способны потребовать книгу жалоб или попросить телефон руководителя. Намного комфортнее отправить отзыв по СМС. 
							ul.response-advantages
								li Анонимность
								li Обращение к личному руководителю
					ul.process-list
						li
							.list-img
								img(src="assets/images/process1.png", alt="")
							.list-data
								span <b>1.</b> Разместите информеры
								p.
									Клиенты узнают о присутствии YesSMS через фирменные информеры, которые легко интегрируются в формат Вашего бизнеса. Вы можете менять дизайн информеров, редактировать текст вопроса, а значит проводить тематические опросы
						li
							.list-img
								img(src="assets/images/process2.png", alt="")
							.list-data
								span <b>2.</b> Клиенты смогут отправлять свои отзывы посредством SMS-сообщений
								p.
									Номер телефона, для отправки смс-отзывов указывается на информере. Сообщения отправляются анонимно.
						li
							.list-img
								img(src="assets/images/process3.png", alt="")
							.list-data
								span <b>3.</b> Просматривайте и сортируйте отзывы Ваших клиентов в личном кабинете YesSMS
								p.
									Интуитивно понятный веб-интерфейс. Возможность просмотра с любого устройства, имеющего доступ в интернет (телефон, планшет или компьютер).
						li
							.list-img
								img(src="assets/images/process4.png", alt="")
							.list-data
								span <b>4.</b> Отвечайте на полученные отзывы в режиме online
								p.
									Поддержание диалога со своими клиентами. Оперативная двусторонняя связь. Разрешение жалоб в индивидуальном порядке. Осведомленность о необходимых доработках и качестве работы Вашего персонала
						li
							.list-img
								img(src="assets/images/process5.png", alt="")
							.list-data
								span <b>5.</b> Анализируйте полученные отзывы и сравнивайте данные
								p.
									Раздел статистики в личном кабинете YesSMS отображает обобщенную информацию о полученных отзывах и динамику изменения отзывов о качестве Ваших услуг, Это очень удобный инструмент для оценки работы Вашего персонала и бизнеса в целом.
					.additional-advantages
						h2 YesSMS намного удобнее всехтрадиционных способов обратной связи с клиентами
						img(src="assets/images/pc.png", alt="" class="img-responsive")
						ul
							li Прост в использовании
							li Двусторонняя связь
							li Диалог в режиме online
							li Хранение и классификация отзывов
							li Статистика и анализ полученных отзывов
							li Сохранение конфиденциальности
		section.last
			.container
				h3.
					Все уже готово к подключению.
					Для работы с YesSMS Вам не нужно ничего устанавливать!
				.section-container
					.item
						.item-title Новости
						.item-description.
							YesSMS открывает представительства в регионах Украины. А в Вашем городе есть YesSMS?
						a(href="#" class="item-link") Это интересно
					.item
						.item-title Техподдержка
						.item-description.
							Круглосуточная помощь напишите или позвоните, наши операторы всегда на связи.
						a(href="#" class="item-link") Задать вопрос
					.item
						.item-title Дилерство
						.item-description.
							Свяжитесь с нами по вопросам дилерства в регионах Украины. Узнайте, свободен ли Ваш регион.
						a(href="#" class="item-link") Узнать подробнее
					.item
						.item-title Свяжитесь с нами
						.item-description.
							Позвоните или напишите нам. Наши менеджеры всегда ответят на все интересующие Вас вопросы
						a(href="tel:380501949584" class="item-link") +38 050 194 9584
						span info@YesSMS.com.ua
		section.callback-form
			.container
				a(href="#" class="to-top")
				form(action="#")
					.form-field
						input(type="text" placeholder="Имя" required)
						input(type="email" placeholder="Эл. адрес" required)
						input(type="text" placeholder="Телефон" required)
						input(type="text" placeholder="Тема" required)
					.form-field
						textarea#message(name="message" placeholder="Сообщение")
					.form-field
						input(type="submit" value="Отправить сообщение")
		footer
			.container
				span Подписаться
				p.
					Подпишитесь на нашу рассылку и будьте в курсе самых свежих новостей о нашей компании:
				form(action="#")
					input(type="email" placeholder="Адрес электронной почты" required)
					input(type="submit" value="Подписаться")
				ul
					li
						a(href="#" title="Facebook")
					li
						a(href="#" title="VK") 
					li
						a(href="#" title="Instagram")
					li
						a(href="#" title="Twitter")
			.copyright.
				Политика конфиденциальности  Copyrights © 2015-2017  Все права защищены Saganenko.ru
		script(src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous")
		script(src="assets/js/jquery.scrollify.min.js")
		script(src="assets/js/slick.min.js")
		script(src="assets/js/main.js")