<!DOCTYPE html>
html(lang="ru")
	head
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
		meta(charset="UTF-8")
		link(rel="stylesheet", href="https://necolas.github.io/normalize.css/3.0.2/normalize.css")
		link(rel="stylesheet", href="style.css")
		title Главная | YesSMS
	body.home
		header
			.container
				.main-line
					.logo
						a(href="#")
							img(src="assets/images/logo.png", alt="")
					.mobile-toggle
						img(src="assets/images/burger.png", alt="")
				nav
					ul.main-menu
						li
							a(href="#") Главная
						li
							a(href="#") Как это работает
						li
							a(href="#") Тарифы
						li
							a(href="#") Решения
						li
							a(href="#") Контакты
					ul.user-menu
						li
							a(href="#") КАБИНЕТ
						li.switch-language
							a(href="#") Укр
							ul
								li
									a(href="#") EN
								li
									a(href="#") EN
								li
									a(href="#") EN
		section.main
			.container
				h1 Подключите эффективный и удобный сервис 
					span обратной связи с клиентом
				.disclaimer
					.content
						div Прямая связь
						p.
							C владельцем и руководителем заведения. Сервис позволяет посетителям отправлять жалобы, вопросы и предложения напрямую руководителю или владельцу заведения при помощи SMS-сообщений...
						.more
							a(href="#")
		section.customers
			.container
				h2 Для кого этот сервис?
				ul.customer-list
					li
						span Банки
					li
						span Салоны красоты 
					li
						span Клубы,бары  
					li
						span Рестораны,кафе
					li
						span Развлекательные центры
					li
						span Фитнес центры
					li
						span Туристические агенства
					li
						span Taxi
					li
						span Больницы
					li
						span Гостиницы,хостелы
					li
						span Службы доставки
					li
						span Торговые центры
					li
						span Госучреждения 
					li
						span Отделения почтовой связи 
					li
						span Автосервисы
				.new-field
					h3 Не нашли свою отрасль?
					p Оставьте заявку и мы найдем решение подходящее именно Вам.
					a(href="#" class="leave-order") Оставить заявку 
		section.need
			.container
				h4 Зачем Вашему бизнесу Yes SMS?
				.section-container
					.item
						.item-icon
						.item-title.
							Удобный сервис обратной связи
						.item-description.
							Узнать мнения клиентов по любому вопросу и разрешать жалобы в частном порядке проще, чем Вы думали.
						.more
							a(href="#" class="more-btn") Узнать больше
							.tooltip.
								Мы уже включили по 300 ежемесячных исходящих СМС в стоимость обслуживания. По статистике, этого достаточно для 95% наших клиентов. Однако, если специфика вашего бизнеса предполагает большие объемы, то вам необходимо пополнить баланс в личном кабинете страховочной суммой.
					.item
						.item-icon
						.item-title.
							Довольные клиенты
						.item-description.
							Клиенты ценят, когда бизнес интересуется их мнением и потребностями, отвечая на это высокой лояльностью.
						.more
							a(href="#" class="more-btn") Узнать больше
							.tooltip.
								Мы уже включили по 300 ежемесячных исходящих СМС в стоимость обслуживания. По статистике, этого достаточно для 95% наших клиентов. Однако, если специфика вашего бизнеса предполагает большие объемы, то вам необходимо пополнить баланс в личном кабинете страховочной суммой.
					.item
						.item-icon
						.item-title.
							Анализ мнений клиентов
						.item-description.
							Сотрудники работают лучше и эффективнее, когда каждый клиент находится на прямой связи с руководителем заведения.
						.more
							a(href="#" class="more-btn") Узнать больше
							.tooltip.
								Мы уже включили по 300 ежемесячных исходящих СМС в стоимость обслуживания. По статистике, этого достаточно для 95% наших клиентов. Однако, если специфика вашего бизнеса предполагает большие объемы, то вам необходимо пополнить баланс в личном кабинете страховочной суммой.
					.item
						.item-icon
						.item-title.
							Мотивированный персонал
						.item-description.
							Сотрудники работают лучше и эффективнее, когда каждый клиент находится на прямой связи с руководителем заведения.
						.more
							a(href="#" class="more-btn") Узнать больше
							.tooltip.
								Мы уже включили по 300 ежемесячных исходящих СМС в стоимость обслуживания. По статистике, этого достаточно для 95% наших клиентов. Однако, если специфика вашего бизнеса предполагает большие объемы, то вам необходимо пополнить баланс в личном кабинете страховочной суммой.
		section.advantages
			.container
				h5 Преимущества подключения к сервису
				.section-container
					ul
						li
							.li-icon
							span Прямой диалог с клиентом 
						li
							.li-icon
							span Возможность мотивировать и контролировать персонал,
						li
							.li-icon
							span Эффективная обратная связь
						li
							.li-icon
							span Контактные данные остаются анонимными
						li
							.li-icon
							span Выявление проблемных мест бизнеса
						li
							.li-icon
							span Не нужно покупать оборудование, устанавливать программы и драй
						li
							.li-icon
							span Анализ бизнес процессов
						li
							a(href="#" class="leave-order") Презентация
		section.last
			.container
				h6.
					Все уже готово к подключению.
					Для работы с YesSMS Вам не нужно ничего устанавливать!
				a(href="#" class="leave-order") Оставить заявку
				.section-container
					.item
						.item-title Новости
						.item-description.
							YesSMS открывает представительства в регионах Украины. А в Вашем городе есть YesSMS?
						a(href="#" class="item-link") Это интересно
					.item
						.item-title Техподдержка
						.item-description.
							Круглосуточная помощь напишите или позвоните, наши операторы всегда на связи.
						a(href="#" class="item-link") Задать вопрос
					.item
						.item-title Дилерство
						.item-description.
							Свяжитесь с нами по вопросам дилерства в регионах Украины. Узнайте, свободен ли Ваш регион.
						a(href="#" class="item-link") Узнать подробнее
					.item
						.item-title Свяжитесь с нами
						.item-description.
							Позвоните или напишите нам. Наши менеджеры всегда ответят на все интересующие Вас вопросы
						a(href="tel:380501949584" class="item-link") +38 050 194 9584
						span info@YesSMS.com.ua
			.copyright.
				Политика конфиденциальности  Copyrights © 2015-2017  Все права защищены Saganenko.ru
		script(src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous")
		script(src="assets/js/jquery.scrollify.min.js")
		script(src="assets/js/main.js")