<!DOCTYPE html>
html(lang="ru")
	head
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
		meta(charset="UTF-8")
		link(rel="stylesheet", href="https://necolas.github.io/normalize.css/3.0.2/normalize.css")
		link(rel="stylesheet", href="assets/css/slick.css")
		link(rel="stylesheet", href="style.css")
		title Готовые решения | YesSMS
	body
		header
			.container
				.main-line
					.logo
						a(href="#")
							img(src="assets/images/logo.png", alt="")
					.mobile-toggle
						img(src="assets/images/burger.png", alt="")
				nav
					ul.main-menu
						li
							a(href="#") Главная
						li
							a(href="#") Как это работает
						li
							a(href="#") Тарифы
						li
							a(href="#") Решения
						li
							a(href="#") Контакты
					ul.user-menu
						li
							a(href="#") Вход / Регистрация
						li.switch-language
							a(href="#") Укр
							ul
								li
									a(href="#") EN
								li
									a(href="#") EN
								li
									a(href="#") EN
		section.solutions
			.section-container
				h1 Готовые решения
				.content
					aside
						ul.aside-list
							li
								a(href="#")
									span.
										Отправка отзывов через CMC сообщения на номера телефонов, указанных на информерах.
							li
								a(href="#")
									span.
										ГОТОВЫЙ ДИЗАЙН ИНФОРМЕРОВ
						.banners
							.slider
								.banner
									img(src="assets/images/side-banner.png", alt="" class="img-responsive")
								.banner
									img(src="assets/images/side-banner.png", alt="" class="img-responsive")
								.banner
									img(src="assets/images/side-banner.png", alt="" class="img-responsive")
								.banner
									img(src="assets/images/side-banner.png", alt="" class="img-responsive")
								.banner
									img(src="assets/images/side-banner.png", alt="" class="img-responsive")
					article
						.solution
							.img-holder
								img(src="assets/images/solution1.png", alt="")
							.data
								a(href="#").title РЕСТОРАНЫ, КАФЕ, БАРЫ
								ul
									li Размещение информеров на столах, барных стойках copy
									li Цель: повышение лояльности клиентов
								.description.
									Прямая связь с клиентом. Посетитель ресторана видит табличку информер на своем столе. И при желании может отправить СМС с отзывом, пожеланием, вопросом или претензией.
								a(href="#" title="Подробнее")
						.solution
							.img-holder
								img(src="assets/images/solution2.png", alt="")
							.data
								a(href="#").title БАНКИ, ДЕТСКИЕ САДЫ,  ОБРАЗОВАТЕЛЬНЫЕ УЧРЕЖДЕНИЯ
								ul
									li Размещение информеров на столах, барных стойках copy
									li Цель: повышение лояльности клиентов
								.description.
									Ученики или родители могут отправить анонимное СМС на волнующие их темы лично директору, сообщить о нарушениях школьного распорядка или высказать пожелания по улучшению школьного быта. Директор получает возможность отслеживать желания и настроения учеников. Своевременно реагировать и предотвращать конфликтные ситуации.
								a(href="#" title="Подробнее")
						.solution
							.img-holder
								img(src="assets/images/solution3.png", alt="")
							.data
								a(href="#").title ПОЛИКЛИНИКИ, БОЛЬНИЦЫ,  МЕД.УЧРЕЖДЕНИЯ
								ul
									li Размещение информеров на столах, барных стойках copy
									li Цель: повышение лояльности клиентов
								.description.
									Ученики или родители могут отправить анонимное СМС на волнующие их темы лично директору, сообщить о нарушениях школьного распорядка или высказать пожелания по улучшению школьного быта. Директор получает возможность отслеживать желания и настроения учеников. Своевременно реагировать и предотвращать конфликтные ситуации.
								a(href="#" title="Подробнее")
						.solution
							.img-holder
								img(src="assets/images/solution4.png", alt="")
							.data
								a(href="#").title ФИТНЕС ЦЕНТРЫ, СПОРТКЛУБЫ
								ul
									li Размещение информеров на столах, барных стойках copy
									li Цель: повышение лояльности клиентов
								.description.
									Ученики или родители могут отправить анонимное СМС на волнующие их темы лично директору, сообщить о нарушениях школьного распорядка или высказать пожелания по улучшению школьного быта. Директор получает возможность отслеживать желания и настроения учеников. Своевременно реагировать и предотвращать конфликтные ситуации.
								a(href="#" title="Подробнее")
		section.ask-more
			.container
				h2 Остались вопросы? узнайте больше
				span Если вы дочитали до этого места, значит вам интересно наше предложение
				.ask-buttons
					a(href="#") Посмотрите тарифы
					span - или -
					a(href="#") Свяжитесь с нами
		footer
			.container
				span Подписаться
				p.
					Подпишитесь на нашу рассылку и будьте в курсе самых свежих новостей о нашей компании:
				form(action="#")
					input(type="email" placeholder="Адрес электронной почты" required)
					input(type="submit" value="Подписаться")
				ul
					li
						a(href="#" title="Facebook")
					li
						a(href="#" title="VK") 
					li
						a(href="#" title="Instagram")
					li
						a(href="#" title="Twitter")
			.copyright.
				Политика конфиденциальности  Copyrights © 2015-2017  Все права защищены Saganenko.ru
		script(src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous")
		script(src="assets/js/jquery.scrollify.min.js")
		script(src="assets/js/slick.min.js")
		script(src="assets/js/main.js")