<!DOCTYPE html>
html(lang="ru")
	head
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
		meta(charset="UTF-8")
		link(rel="stylesheet", href="https://necolas.github.io/normalize.css/3.0.2/normalize.css")
		link(rel="stylesheet", href="assets/css/slick.css")
		link(rel="stylesheet", href="style.css")		
		title Тарифы | YesSMS
	body
		header
			.container
				.main-line
					.logo
						a(href="#")
							img(src="assets/images/logo.png", alt="")
					.mobile-toggle
						img(src="assets/images/burger.png", alt="")
				nav
					ul.main-menu
						li
							a(href="#") Главная
						li
							a(href="#") Как это работает
						li
							a(href="#") Тарифы
						li
							a(href="#") Решения
						li
							a(href="#") Контакты
					ul.user-menu
						li
							a(href="#") Вход / Регистрация
						li.switch-language
							a(href="#") Укр
							ul
								li
									a(href="#") EN
								li
									a(href="#") EN
								li
									a(href="#") EN
		section.tarifs
			.container
				h1 Тарифы
				span YesSMS поможет Вам ориентироваться на потребности клиентов и работать намного эффективнее.
				.section-container
					.tarif
						.tarif-data
							.tarif-icon
							.tarif-main
								.duration 1 месяц
								.price 1100 грн/мес
								.setup-price 650 грн - подключение
								.total-price Всего: 1750 грн.
							ul.included-options
								li.option1 Доступ к веб-интерфейсу личного кабинета YesSMS
								li.option2 Неограниченное количество входящих сообщений (отзывов) от Ваших клиентов каждый месяц
								li.option4 Бесплатная техническая поддержка
						a(href="#" class="leave-order") Оставить заявку
					.tarif
						.tarif-data
							.tarif-icon
							.tarif-main
								.duration 6 месяцев
								.price 870 грн./мес
								.setup-price 650 грн - подключение
								.total-price Всего: 5870 грн.
							ul.included-options
								li.option1 Доступ к веб-интерфейсу личного кабинета YesSMS
								li.option2 Неограниченное количество входящих сообщений (отзывов) от Ваших клиентов каждый месяц
								li.option3 Доступ к статистическим данным
								li.option4 Бесплатная техническая поддержка
						a(href="#" class="leave-order") Оставить заявку
					.tarif
						.tarif-data
							.tarif-icon
							.tarif-main
								.duration 1 год
								.price 775 грн./мес
								.setup-price 650 грн - подключение
								.total-price Всего: 9950 грн.
							ul.included-options
								li.option1 Доступ к веб-интерфейсу личного кабинета YesSMS
								li.option2 Неограниченное количество входящих сообщений (отзывов) от Ваших клиентов каждый месяц
								li.option3 Доступ к статистическим данным
								li.option4 Бесплатная техническая поддержка
								li.option5 + Бонус ( дизайн информеров)
						a(href="#" class="leave-order") Оставить заявку
				.additional-options
					h2 В стоимость пакета входит:
					ul
						li * Доступ в личный кабинет
						li * Выделенный номер телефона 
						li * 24х7 технической поддержки
						li * Подключение за 1 день
						li * Безлимит входящих  СМС
						li * 300 бесплатных исходящих СМС 
		section.other-services
			.section-container
				h3 Стоимость дополнительных услуг
				.service-wrap
					.service
						.service-title ИСХОДЯЩИЕ СМС
							span СВЕРХ ЛИМИТА
						.service-price
							i ОТ
							b 0,35
							i грн/шт
						.more
							a(href="#" class="more-btn") Почему?
							.tooltip.
								Мы уже включили по 300 ежемесячных исходящих СМС в стоимость обслуживания. По статистике, этого достаточно для 95% наших клиентов. Однако, если специфика вашего бизнеса предполагает большие объемы, то вам необходимо пополнить баланс в личном кабинете страховочной суммой.
					.service
						.service-title Персональный
							span менеджер 
						.service-price
							b 1350
							i грн/мес.
						.more
							a(href="#" class="more-btn") Кто это?
							.tooltip.
								Мы уже включили по 300 ежемесячных исходящих СМС в стоимость обслуживания. По статистике, этого достаточно для 95% наших клиентов. Однако, если специфика вашего бизнеса предполагает большие объемы, то вам необходимо пополнить баланс в личном кабинете страховочной суммой.
					.service
						.service-title Автоответчик
							span Автоответчик 
						.service-price
							b 450
							i грн/мес.
						.more
							a(href="#" class="more-btn") Что это?
							.tooltip.
								Мы уже включили по 300 ежемесячных исходящих СМС в стоимость обслуживания. По статистике, этого достаточно для 95% наших клиентов. Однако, если специфика вашего бизнеса предполагает большие объемы, то вам необходимо пополнить баланс в личном кабинете страховочной суммой.
					.service
						.service-title Индивидуальный
							span Дизайн информеров
						.service-price
							b 1100
							i грн.
						.more
							a(href="#" class="more-btn") Подробнее
							.tooltip.
								Мы уже включили по 300 ежемесячных исходящих СМС в стоимость обслуживания. По статистике, этого достаточно для 95% наших клиентов. Однако, если специфика вашего бизнеса предполагает большие объемы, то вам необходимо пополнить баланс в личном кабинете страховочной суммой.
					.service
						.service-title Оповещение
							span Мгновенное уведомление
						.service-price
							b 450
							i грн/мес.
						.more
							a(href="#" class="more-btn") Подробнее
							.tooltip.
								Мы уже включили по 300 ежемесячных исходящих СМС в стоимость обслуживания. По статистике, этого достаточно для 95% наших клиентов. Однако, если специфика вашего бизнеса предполагает большие объемы, то вам необходимо пополнить баланс в личном кабинете страховочной суммой.
		section.ask-more
			.container
				h2 Остались вопросы? узнайте больше
				span Если вы дочитали до этого места, значит вам интересно наше предложение
				.ask-buttons
					a(href="#") Посмотрите тарифы
					span - или -
					a(href="#") Свяжитесь с нами
		footer
			.container
				span Подписаться
				p.
					Подпишитесь на нашу рассылку и будьте в курсе самых свежих новостей о нашей компании:
				form(action="#")
					input(type="email" placeholder="Адрес электронной почты" required)
					input(type="submit" value="Подписаться")
				ul
					li
						a(href="#" title="Facebook")
					li
						a(href="#" title="VK") 
					li
						a(href="#" title="Instagram")
					li
						a(href="#" title="Twitter")
			.copyright.
				Политика конфиденциальности  Copyrights © 2015-2017  Все права защищены Saganenko.ru
		script(src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous")
		script(src="assets/js/jquery.scrollify.min.js")
		script(src="assets/js/slick.min.js")
		script(src="assets/js/jquery-ui.min.js")
		script(src="assets/js/main.js")